<h1>What would you like to shop for?</h1>
<%= link_to "Add a Store?", new_store_path %>
<ul>
  <% @stores.each do |store| %>
  <li><%= link_to store.name, store_path(store) %></li>
    <% end %>
</ul>
