<h1>Click a Thing to View Content</h1>
<hr />
<%= link_to "Create a new Thing", new_store_thing_path(@stores) %>
<ul>
  <% @things.each do |t| %>
    <li><%= link_to t.name, store_thing_path(@store, t) %></li>
    <% end %>
</ul>

